
img{

    position: fixed;
    width: 100%;
    z-index: -1;
}

#ask {

    background-color: #70D1FE;
    text-align: center;
    font-family: Rock Salt, cursive;
    font-size: 40pt;
    width: 100%;
    height: 20%;
    position: fixed;
    

}

#section {

    background-color: #FED90F;
    text-align: center;
    font-family: Rock Salt, cursive;
    font-size: 40pt;
    width: 100%;
    height: 20%;
    position: fixed;
    top: 131px;

}

#scoreBox {

    background-color: #F65132;
    text-align: center;
    font-family: Rock Salt, cursive;
    width: 175px;
    height: 175px;
    position: fixed;
    top: 500px;
    left: 90px;


}
